<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <!-- This will loop through each user and use the '_user.html.erb'
    partial to render the information for the user -->
    <%= render @users %>
</ul>

<%= will_paginate %>